<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">iFuner</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/sign_in"><span class="orange">new</span> Entrar</a></li>
        <li><a href="/sign_up">Cadastrar</a></li>
        <li><a href="/sign_out">Sair</a></li>
      </ul>
    </div>
  </nav>
        
<h1>iFuner root page</h1>
<p>Find me in app/views/home/index.html.erb</p>