@import "materialize/components/color-variables";
$primary-color: color("deep-purple", "accent-4") !default;
$secondary-color: color("orange", "lighten-2") !default;
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

/* Login */
.bird_icon_login{
    width: 100px;
    height: 100px;
    margin-top: 1px;  
    margin-left: 40%;
    
  }
  .container-login{
      height: 100vh;
      width: 100vw;
       
  }
  .row-login{
      height: 100vh;
  }
  .col-left{
      height: 100vh;
  }
  